# Root-level ignores
node_modules/
dist/
.env
.vscode/
.DS_Store
Thumbs.db

# Client-specific
client/.env.local
client/.env.development
client/.env.production
client/.env
client/.next/
client/node_modules/
client/dist/

# Server-specific
server/.env
server/node_modules/
server/dist/
